<div class="center jumbotron" style="height: 100vh">
      <h1> THE </h1>
      <h1> CEREBROSUS</h1>
    
      <br/>
      <br/>
      <h3>
        This is the abode of quizzing saints and sinners.
      </h3>
      <br/>

            <br/>
      <br/>
            <br/>
      <br/>
            <br/>
      <br/>
            <br/>
      <br/>
            <br/>
      <br/>
      <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
      <%= link_to "Login", '/login', class: "btn btn-lg btn-primary"%>
</div>
